body {
    margin:0px;
    font-family:Verdana;
    background-image:url("/images/header_bkgrnd.gif");
    background-repeat:repeat-x;
}

.header{
    height:64px;
    background-image:url("/images/header_bkgrnd.gif");
    background-repeat:repeat;
    padding-left:10px;
}



.innerheader{
    max-width:1259px;
    margin:0 auto;
}
.innerheader img{
    padding-top:5px;
    float:left;
}
.innerheaderlt{
    float:left;
}
.innerheaderrt{
    float:right;
}
.innerheaderrt p{
    font-size:18pt;
    color:#0e3076;
    margin-top:14px;
}
.bodysection{
    padding-left:10px;
    padding-right:10px;
    max-width:1259px;
    margin:0 auto;
}
.headerandtagline {
    color:white;
    padding:5px 0 0 74px;
}
.instructiontext{
    margin-top: -8px;
    font-size: 11px;
    color:black;
}
.headline{
    font-size:14pt;
}
.subheadline{
    font-size:18pt;
    color:#bdbdbd;
    text-align:right;
}
.recenthilights{
    font-size:12pt;
}
.recenthilightstable{
    display:table;
}
.recenthilightsrow{
    display:table-row
}
.recenthilightsdivs{
    display:table-cell;
    padding-right: 100px;
    padding-bottom: 20px;
}
.contacttxt{
    font-size:12px;
}
.jeffblue{
    color:#2e74b5;
}
.section1container{
    padding-top:61px;
}
.gen2column{
    font-size:10pt;
}
.genlt{
    float:left;
    width:50%;
}
.genrt{
    float:right;
    width:48%;
    padding-left:8px;
}
.cleanUL{
    list-style-type:none;
    margin-left: -40px;
}
.section1center{
    text-align:center;
}
.section1containerlt{
    float:left;
    max-width:690px;
}
.section1containerrt{
    float: left;
    max-width: 500px;
    width:100%;
    padding-left:10px;
}
.timelinescroll{
    overflow-x: scroll;
}

.section3center{
    text-align:center;
}
.section3containerlt{
   float:left;
    max-width:690px;
}
.section3containerrt{
    float: left;
    max-width: 500px;
    width:100%;
    padding-left:10px;
}

.qna{
    font-weight: bold;
    font-size: 16pt;
    vertical-align: baseline;
}


.contactcontainer{
    background:url('../images/contactbkgrndgradient.png') repeat-x;
}
.contactcontainerarrow{
    background:url('../images/contactcontainerarrow.png');
    height:23px;
    width:45px;
    margin:0 auto;
}
.contactform{
    width:400px;
    margin:0 auto;
    display:table;
}
.contactformrow{
    display:table-row;
}
.contactformcell{
    display:table-cell;
    padding-bottom:15px;
    padding-right:83px;
}
.contacttextbox{
    width: 450px;
    height: 27px;
}
.contactform ul{
    list-style:none;
}
.contactformlabels{
    color:white;
    padding:0 10px 0 0;
    text-align:right;
}
#message{
    resize: none;
}
#messagepanel{
    height:402px;
}
#messagesentpanel{
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
}
.submitbuttoncontainer{
    text-align:center;
}
#sendmessage{
    background-image:url('../images/submit-button.png');
    width:117px;
    height:78px;
  background-color: transparent;
  border: 0;
  margin-top: -16px;
    color: white;
  font-weight: bold;
  font-size: 13pt;
  cursor:pointer;
background-position-x: 3px;
  background-position-y: 5px;
}

.clear{
    clear:both;
}
.footer{
    font-size:10pt;
  padding: 25px 0px;
  vertical-align: middle;
}


    .headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
    .headroom--unpinned {top: -64px;}
    .headroom--pinned {top: 0;}